/* 登陆进来之后的通用样式 */

.mid-content {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #f2f3f5;
    z-index: 1;
    .home-main {
        height: 100%;
    }
    .main-header {
        height: 64px;
        padding: 0 20px;
        text-align: center;
        background-color: #fff;
        .breadcrumb {
            float: left;
            margin-top: 22px;
        }
        .v-top-timeline {
            margin-top: 5px;
        }
        .action {
            float: right;
            margin-top: 13px;
        }
    }
    .main-content {
        position: absolute;
        top: 64px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        .content {
            margin-left: 200px;
            padding-right: 40px;
            height: 100%;
            overflow: auto;
            &.no-left {
                margin-left: 40px;
            }
        }
    }
}